@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@300;400;500;600;700&display=swap");
#particles-js {
  z-index: -10;
  position: absolute;
  width: 100%;
  top: 0;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "MontserratAlternates", sans-serif;
  font-size: 10px;
}

@font-face {
  font-family: "MontserratAlternates";
  font-weight: 800;
  src: url("fonts/MontserratAlternates-ExtraBold.ttf") format("truetype");
}
@font-face {
  font-family: "MontserratAlternates";
  font-weight: 700;
  src: url("fonts/MontserratAlternates-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "MontserratAlternates";
  font-weight: 600;
  src: url("fonts/MontserratAlternates-SemiBold.ttf") format("truetype");
}
@font-face {
  font-family: "MontserratAlternates";
  font-weight: 500;
  src: url("fonts/MontserratAlternates-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "MontserratAlternates";
  font-weight: 400;
  src: url("fonts/MontserratAlternates-Regular.ttf") format("truetype");
}
#home {
  position: absolute;
  top: 0;
  width: 0;
  height: 0;
}

header {
  position: sticky;
  z-index: 10;
  top: 0;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
}
header .navbar {
  display: flex;
  justify-content: center;
  margin-left: 10px;
  margin-right: 10px;
  padding: 20px;
}
@media (max-width: 968px) {
  header .navbar {
    display: flex;
    justify-content: space-between;
    padding: 10px;
  }
}
header .navbar #logo {
  padding-top: 10px;
  margin-left: 30px;
  position: absolute;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
  width: 140px;
  transition: all 0.2s ease;
}
header .navbar #logo:hover {
  transform: scale(1.04);
  opacity: 0.4;
  transition: all 0.3s ease;
}
header .navbar nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .navbar nav .burger-menu {
  display: none;
}
header .navbar nav .menu-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}
header .navbar nav .menu-list li a {
  margin-left: 10px;
  color: #5e5e5e;
  text-decoration: none;
  padding: 70px;
  font-size: 1.6rem;
  font-weight: 500;
  transition: all 0.3s ease;
}
header .navbar nav .menu-list li a:hover {
  color: #4c57f9;
  transition: all 0.3s ease-in-out;
}
@media (max-width: 968px) {
  header .navbar nav .burger-menu {
    display: block;
    cursor: pointer;
  }
  header .navbar nav .burger-menu img {
    width: 40px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  header .navbar nav .menu-list {
    position: absolute;
    top: 80px;
    left: 0;
    width: 100%;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.3450980392);
    -webkit-backdrop-filter: blur(10px);
            backdrop-filter: blur(10px);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease-in-out;
  }
  header .navbar nav .menu-list.active {
    opacity: 1;
    pointer-events: all;
    top: 100px;
  }
  header .navbar nav .menu-list.active li {
    opacity: 1;
    transform: translateY(0);
  }
  header .navbar nav .menu-list li {
    padding: 7px;
    opacity: 0;
    transform: translateY(-20px);
    transition: all 0.3s ease-in-out;
  }
  header .navbar nav .menu-list li:nth-child(1) {
    transition-delay: 0.1s;
  }
  header .navbar nav .menu-list li:nth-child(2) {
    transition-delay: 0.2s;
  }
  header .navbar nav .menu-list li:nth-child(3) {
    transition-delay: 0.3s;
  }
  header .navbar nav .menu-list li:nth-child(4) {
    transition-delay: 0.4s;
  }
  header .navbar nav .menu-list li a {
    font-size: 1.6rem;
    color: #000000;
    padding: 0px;
  }
}

.home {
  margin-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7%;
}
.home #photo-moi {
  position: relative;
  border-radius: 25px;
  box-shadow: rgba(54, 54, 54, 0.2) 0px 7px 29px 0px;
  max-width: 450px;
  -o-object-fit: cover;
     object-fit: cover;
  animation: colorChange 5s infinite;
}

.home-text {
  padding-bottom: 100px;
  width: 530px;
}
@media (max-width: 885px) {
  .home-text {
    width: 100%;
  }
}
.home-text img {
  margin-right: 20px;
  width: 44px;
  -o-object-fit: cover;
     object-fit: cover;
}
.home-text h2 {
  margin-bottom: 20px;
  font-size: 3.6rem;
  font-weight: 700;
}
.home-text h1 {
  font-size: 3rem;
  font-weight: 500;
  line-height: 49px;
}
.home-text p {
  font-size: 3rem;
  font-weight: 500;
  line-height: 49px;
  color: red;
}

.fond_code {
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
  width: 172px;
  left: 75%;
  top: 50%;
}

.home-text2 {
  margin-top: 100px;
  margin-left: 20%;
  margin-right: 8%;
}

@media (max-width: 968px) {
  .home-text2 {
    margin-left: 10%;
  }
}
@media (max-width: 500px) {
  .home-text2 {
    margin-left: 8%;
  }
}
.first-text {
  font-size: 1.8rem;
  font-weight: 500;
  color: rgb(0, 0, 0);
  margin-bottom: 30px;
}

h3 {
  font-size: 1.8rem;
  font-weight: 500;
  color: rgb(0, 0, 0);
}

.sub-text {
  display: flex;
  gap: 5px;
}
.sub-text h3 {
  font-size: 1.8rem;
  font-weight: 500;
  color: rgb(0, 0, 0);
}
.sub-text p {
  font-size: 1.8rem;
  font-weight: 500;
  color: rgb(255, 0, 0);
}

#project .title-project {
  display: flex;
  align-items: center;
  margin-bottom: 90px;
  margin-left: 100px;
  margin-top: 120px;
}
#project .title-project h2 {
  font-size: 3rem;
  font-weight: 700;
}
#project .title-project img {
  margin-right: 10px;
  width: 44px;
  -o-object-fit: cover;
     object-fit: cover;
}

.section {
  /* Ajustez la hauteur selon vos besoins */
  transition: transform 0.5s ease; /* Propriété de transition */
}

/* Effet de transition pour décaler les sections vers le haut */
.section.active {
  transform: translateY(-20px); /* Ajustez la valeur de décalage */
}

.proj-full {
  margin-bottom: 70px;
  display: flex;
  margin-left: 100px;
  align-items: center;
  gap: 5%;
}
.proj-full .cards {
  perspective: 500px;
}
.proj-full .card {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  width: 250px;
  height: 250px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 20px;
  transform-style: preserve-3d;
  will-change: transform;
  transition: transform 0.5s;
}
.proj-full .card:hover {
  transform: translateZ(10px) rotateX(7deg) rotateY(7deg);
}
.proj-full .card:hover .card_title {
  transform: translateZ(30px);
}
.proj-full .proj-doc p {
  margin-right: 20px;
  line-height: 30px;
  font-size: 1.8rem;
  font-weight: 500;
  max-width: 570px;
}
.proj-full .proj-doc .proj-title {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}
.proj-full .proj-doc .proj-title img {
  margin-right: 30px;
  width: 44px;
  -o-object-fit: cover;
     object-fit: cover;
  transition: all 0.3s ease-in-out;
}
.proj-full .proj-doc .proj-title img:hover {
  opacity: 0.7;
  transition: all 0.3s ease-in-out;
}
.proj-full .proj-doc .proj-title a {
  text-decoration: none;
}
.proj-full .proj-doc .proj-title a h3 {
  font-size: 2rem;
  font-weight: 600;
  transition: all 0.3s ease-in-out;
}
.proj-full .proj-doc .proj-title a h3:hover {
  font-size: 2rem;
  font-weight: 600;
  color: #5e5e5e;
  transition: all 0.3s ease-in-out;
}

.fond1 {
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
  width: 482px;
  left: 55%;
  top: 170%;
  transition: all 0.3s ease-in-out;
}

.fond2 {
  z-index: -2;
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
  width: 482px;
  left: 20%;
  top: 388%;
  transition: all 0.3s ease-in-out;
}

#contact .title-contact {
  display: flex;
  align-items: center;
  margin-bottom: 90px;
  margin-left: 100px;
  margin-top: 120px;
}
#contact .title-contact h2 {
  font-size: 3rem;
  font-weight: 700;
}
#contact .title-contact img {
  margin-right: 10px;
  width: 44px;
  -o-object-fit: cover;
     object-fit: cover;
}

.info-jeu {
  display: flex;
  gap: 20%;
}
.info-jeu .jeu h3 {
  font-size: 1.6rem;
  font-weight: 600;
  margin-bottom: 20px;
}
.info-jeu .jeu .checkbox-choice {
  margin-top: 20px;
}
.info-jeu .jeu .checkbox-choice label {
  font-size: 1.8rem;
  font-weight: 500;
  margin-left: 10px;
}
.info-jeu .jeu .checkbox-choice input {
  width: 20px;
  height: 20px;
  margin-left: 20px;
}
.info-jeu .jeu .jeu-vertical {
  display: flex;
}
.info-jeu .jeu .jeu-vertical .bloc {
  width: 60px;
  height: 60px;
  background-color: #363636;
  transition: all 5s ease-in-out;
}
.info-jeu .jeu .jeu-vertical .bloc:hover {
  border-radius: 50%;
  width: 45px;
  height: 45px;
  background-color: #ff3838;
  transition: all 0.2s ease-in-out;
  box-shadow: rgba(0, 0, 0, 0.634) 0px 5px 15px;
}
.info-jeu .jeu .jeu-vertical .bloc.green {
  background-color: #363636;
}
.info-jeu .jeu .jeu-vertical .bloc.green:hover {
  background-color: green;
}
.info-jeu .jeu .jeu-vertical .bloc.yellow {
  background-color: #363636;
}
.info-jeu .jeu .jeu-vertical .bloc.yellow:hover {
  background-color: rgb(255, 238, 0);
}
.info-jeu .info .info-content {
  margin-left: 100px;
  margin-bottom: 60px;
  display: flex;
  align-items: center;
}
.info-jeu .info .info-content a img {
  margin-right: 70px;
  width: 64px;
  -o-object-fit: cover;
     object-fit: cover;
  transition: all 0.3s ease-in-out;
}
.info-jeu .info .info-content a img:hover {
  margin-right: 80px;
  opacity: 0.8;
  transition: all 0.3s ease-in-out;
}
.info-jeu .info .info-content h2 {
  font-size: 2.2rem;
  font-weight: 600;
}
.info-jeu .info .info-content2 {
  margin-left: 100px;
  margin-bottom: 60px;
  display: flex;
  align-items: center;
}
.info-jeu .info .info-content2 img {
  margin-right: 70px;
  width: 64px;
  -o-object-fit: cover;
     object-fit: cover;
}
.info-jeu .info .info-content2 h2 {
  font-size: 2.2rem;
  font-weight: 600;
}

footer {
  margin-top: 150px;
}
footer .footer-content {
  background-color: #363636;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  gap: 10%;
}
footer .footer-content h2 {
  color: #fff;
  font-size: 1.2rem;
  font-weight: 500;
}

@media (max-width: 1211px) {
  .fond2 {
    position: absolute;
    -o-object-fit: cover;
       object-fit: cover;
    width: 482px;
    left: 50%;
    top: 388%;
    transition: all 0.3s ease-in-out;
  }
  .info-jeu {
    display: block;
    gap: 0%;
  }
  .info-jeu .jeu {
    margin-top: 180px;
  }
  .info-jeu .jeu h3 {
    display: flex;
    justify-content: center;
    font-size: 1.6rem;
    font-weight: 600;
    margin-bottom: 20px;
  }
  .info-jeu .jeu .checkbox-choice {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  .info-jeu .jeu .checkbox-choice label {
    font-size: 1.8rem;
    font-weight: 500;
    margin-left: 10px;
  }
  .info-jeu .jeu .checkbox-choice input {
    width: 20px;
    height: 20px;
    margin-left: 20px;
  }
  .info-jeu .jeu .jeu-vertical {
    display: flex;
    justify-content: center;
  }
  .info-jeu .jeu .jeu-vertical .bloc {
    width: 60px;
    height: 60px;
    background-color: #363636;
    transition: all 5s ease-in-out;
  }
  .info-jeu .jeu .jeu-vertical .bloc:hover {
    border-radius: 50%;
    width: 45px;
    height: 45px;
    background-color: #ff3838;
    transition: all 0.2s ease-in-out;
    box-shadow: rgba(0, 0, 0, 0.634) 0px 5px 15px;
  }
  .info-jeu .jeu .jeu-vertical .bloc.green {
    background-color: #363636;
  }
  .info-jeu .jeu .jeu-vertical .bloc.green:hover {
    background-color: green;
  }
  .info-jeu .jeu .jeu-vertical .bloc.yellow {
    background-color: #363636;
  }
  .info-jeu .jeu .jeu-vertical .bloc.yellow:hover {
    background-color: rgb(255, 238, 0);
  }
  .info-jeu .info .info-content {
    margin-left: 100px;
    margin-bottom: 60px;
    display: flex;
    align-items: center;
  }
  .info-jeu .info .info-content a img {
    margin-right: 70px;
    width: 64px;
    -o-object-fit: cover;
       object-fit: cover;
    transition: all 0.3s ease-in-out;
  }
  .info-jeu .info .info-content a img:hover {
    margin-right: 80px;
    opacity: 0.8;
    transition: all 0.3s ease-in-out;
  }
  .info-jeu .info .info-content h2 {
    font-size: 2.2rem;
    font-weight: 600;
  }
  .info-jeu .info .info-content2 {
    margin-left: 100px;
    margin-bottom: 60px;
    display: flex;
    align-items: center;
  }
  .info-jeu .info .info-content2 img {
    margin-right: 70px;
    width: 64px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .info-jeu .info .info-content2 h2 {
    font-size: 2.2rem;
    font-weight: 600;
  }
  footer {
    margin-top: 150px;
  }
  footer .footer-content {
    background-color: #363636;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    gap: 10%;
  }
  footer .footer-content h2 {
    color: #fff;
    font-size: 1.2rem;
    font-weight: 500;
  }
}
@media (max-width: 1120px) {
  .fond1 {
    position: absolute;
    -o-object-fit: cover;
       object-fit: cover;
    width: 482px;
    left: 40%;
    top: 170%;
    transition: all 0.3s ease-in-out;
  }
  .fond2 {
    position: absolute;
    -o-object-fit: cover;
       object-fit: cover;
    width: 482px;
    left: 20%;
    top: 388%;
    transition: all 0.3s ease-in-out;
  }
}
@media (max-width: 885px) {
  .fond1 {
    z-index: -2;
    position: absolute;
    -o-object-fit: cover;
       object-fit: cover;
    width: 282px;
    top: 240%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .fond2 {
    z-index: -2;
    position: absolute;
    -o-object-fit: cover;
       object-fit: cover;
    width: 322px;
    left: 65%;
    transform: translate(-50%, -50%);
    top: 600%;
  }
  .home-placement .home {
    margin-top: 50px;
    display: block;
    align-items: center;
  }
  .home-placement .home #photo-moi {
    display: block;
    margin: auto;
    border-radius: 25px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    max-width: 450px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .home-placement .home .home-text {
    padding-bottom: 0px;
    max-width: 100%;
  }
  .home-placement .home .home-text img {
    margin-right: 20px;
    width: 44px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .home-placement .home .home-text h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 3.2rem;
    font-weight: 700;
  }
  .home-placement .home .home-text h1 {
    margin-left: 10%;
    margin-right: 10%;
    align-items: center;
    text-align: center;
    font-size: 2.2rem;
    font-weight: 500;
    line-height: 49px;
  }
  .home-placement .home .home-text p {
    font-size: 2.6rem;
    font-weight: 500;
    line-height: 49px;
    color: red;
  }
  .home-placement .home .fond_code {
    z-index: -1;
    position: absolute;
    -o-object-fit: cover;
       object-fit: cover;
    width: 75px;
    top: 108%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .proj-full {
    margin-left: 0px;
    margin-bottom: 70px;
    display: block;
    align-items: center;
    gap: 5%;
  }
  .proj-full .cards {
    perspective: 500px;
    display: flex;
    justify-content: center;
  }
  .proj-full .card {
    margin-bottom: 20px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    width: 250px;
    height: 250px;
    -o-object-fit: cover;
       object-fit: cover;
    border-radius: 20px;
    transform-style: preserve-3d;
    will-change: transform;
    transition: transform 0.5s;
  }
  .proj-full .card:hover {
    transform: translateZ(10px) rotateX(7deg) rotateY(7deg);
  }
  .proj-full .card:hover .card_title {
    transform: translateZ(30px);
  }
  .proj-full .proj-doc {
    text-align: center;
  }
  .proj-full .proj-doc p {
    margin-left: auto;
    margin-right: auto;
    padding-left: 14px;
    padding-right: 14px;
    line-height: 30px;
    font-size: 1.8rem;
    font-weight: 500;
    max-width: 570px;
  }
  .proj-full .proj-doc .proj-title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
  }
  .proj-full .proj-doc .proj-title img {
    margin-right: 30px;
    width: 44px;
    -o-object-fit: cover;
       object-fit: cover;
    transition: all 0.3s ease-in-out;
  }
  .proj-full .proj-doc .proj-title img:hover {
    opacity: 0.7;
    transition: all 0.3s ease-in-out;
  }
  .proj-full .proj-doc .proj-title a {
    text-decoration: none;
  }
  .proj-full .proj-doc .proj-title a h3 {
    font-size: 2rem;
    font-weight: 600;
    transition: all 0.3s ease-in-out;
  }
  .proj-full .proj-doc .proj-title a h3:hover {
    font-size: 2rem;
    font-weight: 600;
    color: #5e5e5e;
    transition: all 0.3s ease-in-out;
  }
  #contact .title-contact {
    margin-bottom: 90px;
    margin-left: 100px;
    margin-top: 120px;
  }
  #contact .title-contact h2 {
    margin-bottom: 20px;
    font-size: 2.6rem;
    font-weight: 700;
  }
  #contact .title-contact h2 img {
    margin-right: 10px;
    width: 44px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .info-jeu {
    display: block;
    gap: 0%;
  }
  .info-jeu .info .info-content {
    margin-left: 100px;
    margin-bottom: 60px;
    display: flex;
    align-items: center;
  }
  .info-jeu .info .info-content a img {
    margin-right: 20px;
    width: 64px;
    -o-object-fit: cover;
       object-fit: cover;
    transition: all 0.3s ease-in-out;
  }
  .info-jeu .info .info-content a img:hover {
    margin-right: 30px;
    opacity: 0.8;
    transition: all 0.3s ease-in-out;
  }
  .info-jeu .info .info-content h2 {
    font-size: 1.6rem;
    font-weight: 600;
  }
  .info-jeu .info .info-content2 {
    margin-left: 100px;
    margin-bottom: 60px;
    display: flex;
    align-items: center;
  }
  .info-jeu .info .info-content2 img {
    margin-right: 20px;
    width: 64px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .info-jeu .info .info-content2 h2 {
    font-size: 1.6rem;
    font-weight: 600;
  }
}
@media (max-width: 500px) {
  .fond1 {
    z-index: -2;
    position: absolute;
    -o-object-fit: cover;
       object-fit: cover;
    width: 282px;
    top: 240%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .fond2 {
    z-index: -2;
    position: absolute;
    -o-object-fit: cover;
       object-fit: cover;
    width: 1px;
    left: 65%;
    transform: translate(-50%, -50%);
    top: 8%;
  }
  .home-placement .home {
    margin-top: 50px;
    display: block;
    align-items: center;
  }
  .home-placement .home #photo-moi {
    display: block;
    margin: auto;
    border-radius: 25px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    max-width: 300px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .home-placement .home .home-text {
    padding-bottom: 0px;
    max-width: 100%;
  }
  .home-placement .home .home-text img {
    margin-right: 20px;
    width: 44px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .home-placement .home .home-text h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 2.6rem;
    font-weight: 700;
  }
  .home-placement .home .home-text h1 {
    margin-left: 10%;
    margin-right: 10%;
    align-items: center;
    text-align: center;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 49px;
  }
  .home-placement .home .home-text p {
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 49px;
    color: red;
  }
  .home-placement .home .fond_code {
    z-index: -1;
    position: absolute;
    -o-object-fit: cover;
       object-fit: cover;
    width: 75px;
    top: 88%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  #project .title-project {
    margin-left: 0;
    display: flex;
    justify-content: center;
    margin-top: 120px;
  }
  #project .title-project h2 {
    margin-bottom: 20px;
    font-size: 2.4rem;
    font-weight: 700;
  }
  #project .title-project img {
    margin-right: 10px;
    width: 44px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .proj-full {
    margin-left: 0px;
    margin-bottom: 70px;
    display: block;
    align-items: center;
    gap: 5%;
  }
  .proj-full .cards {
    perspective: 500px;
    display: flex;
    justify-content: center;
  }
  .proj-full .card {
    margin-bottom: 20px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    width: 250px;
    height: 250px;
    -o-object-fit: cover;
       object-fit: cover;
    border-radius: 20px;
    transform-style: preserve-3d;
    will-change: transform;
    transition: transform 0.5s;
  }
  .proj-full .card:hover {
    transform: translateZ(10px) rotateX(7deg) rotateY(7deg);
  }
  .proj-full .card:hover .card_title {
    transform: translateZ(30px);
  }
  .proj-full .proj-doc {
    text-align: center;
  }
  .proj-full .proj-doc p {
    margin-left: auto;
    margin-right: auto;
    padding-left: 14px;
    padding-right: 14px;
    line-height: 30px;
    font-size: 1.6rem;
    font-weight: 500;
    max-width: 570px;
  }
  .proj-full .proj-doc .proj-title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
  }
  .proj-full .proj-doc .proj-title img {
    margin-right: 10px;
    width: 44px;
    -o-object-fit: cover;
       object-fit: cover;
    transition: all 0.3s ease-in-out;
  }
  .proj-full .proj-doc .proj-title img:hover {
    opacity: 0.7;
    transition: all 0.3s ease-in-out;
  }
  .proj-full .proj-doc .proj-title a {
    text-decoration: none;
  }
  .proj-full .proj-doc .proj-title a h3 {
    font-size: 1.6rem;
    font-weight: 600;
    transition: all 0.3s ease-in-out;
  }
  .proj-full .proj-doc .proj-title a h3:hover {
    font-size: 1.6rem;
    font-weight: 600;
    color: #5e5e5e;
    transition: all 0.3s ease-in-out;
  }
  #contact .title-contact {
    margin-bottom: 50px;
    margin-left: 0;
    display: flex;
    justify-content: center;
    margin-top: 100px;
  }
  #contact .title-contact h2 {
    margin-bottom: 20px;
    font-size: 2rem;
    font-weight: 700;
  }
  #contact .title-contact h2 img {
    margin-right: 10px;
    width: 44px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .info-jeu {
    display: block;
    gap: 0%;
  }
  .info-jeu .jeu {
    margin-top: 80px;
  }
  .info-jeu .jeu h3 {
    display: flex;
    justify-content: center;
    font-size: 1.6rem;
    font-weight: 600;
    margin-bottom: 20px;
  }
  .info-jeu .jeu .checkbox-choice {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  .info-jeu .jeu .checkbox-choice label {
    font-size: 1.8rem;
    font-weight: 500;
    margin-left: 10px;
  }
  .info-jeu .jeu .checkbox-choice input {
    width: 20px;
    height: 20px;
    margin-left: 20px;
  }
  .info-jeu .jeu .jeu-vertical {
    display: flex;
    justify-content: center;
  }
  .info-jeu .jeu .jeu-vertical .bloc {
    width: 60px;
    height: 60px;
    background-color: #363636;
    transition: all 5s ease-in-out;
  }
  .info-jeu .jeu .jeu-vertical .bloc:hover {
    border-radius: 50%;
    width: 45px;
    height: 45px;
    background-color: #ff3838;
    transition: all 0.2s ease-in-out;
    box-shadow: rgba(0, 0, 0, 0.634) 0px 5px 15px;
  }
  .info-jeu .jeu .jeu-vertical .bloc.green {
    background-color: #363636;
  }
  .info-jeu .jeu .jeu-vertical .bloc.green:hover {
    background-color: green;
  }
  .info-jeu .jeu .jeu-vertical .bloc.yellow {
    background-color: #363636;
  }
  .info-jeu .jeu .jeu-vertical .bloc.yellow:hover {
    background-color: rgb(255, 238, 0);
  }
  .info-jeu .info .info-content {
    margin-left: 10%;
    margin-bottom: 40px;
    display: flex;
    align-items: center;
  }
  .info-jeu .info .info-content a img {
    margin-right: 10px;
    width: 44px;
    -o-object-fit: cover;
       object-fit: cover;
    transition: all 0.3s ease-in-out;
  }
  .info-jeu .info .info-content a img:hover {
    margin-right: 30px;
    opacity: 0.8;
    transition: all 0.3s ease-in-out;
  }
  .info-jeu .info .info-content h2 {
    font-size: 1.6rem;
    font-weight: 600;
  }
  .info-jeu .info .info-content2 {
    margin-left: 10%;
    margin-bottom: 60px;
    display: flex;
    align-items: center;
  }
  .info-jeu .info .info-content2 img {
    margin-right: 10px;
    width: 44px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .info-jeu .info .info-content2 h2 {
    font-size: 1.6rem;
    font-weight: 600;
  }
}
@media (max-width: 385px) {
  .home-placement .home {
    margin-top: 50px;
  }
  .home-placement .home .fond_code {
    z-index: -1;
    position: absolute;
    -o-object-fit: cover;
       object-fit: cover;
    width: 75px;
    top: 97%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
.ooeo__logo {
  border-radius: 50%;
}/*# sourceMappingURL=style.css.map */